{% extends 'main.html' %}

{% block title %}
    confirm
{% endblock %}

{% block website %}
<div class="card" style="width: 32rem;">
        <div class="card-body">
            <h5 class="card-title">Confirm delete film: {{film.title}}</h5>
             <form method="post">
      {% csrf_token %}
      <button class="btn btn-success" type="submit">DELETE </></button>
                 <button class="btn btn-danger" type="button" onclick="history.back();">BACK <i class="fa-solid fa-undo"></i></button>
  </form>
        </div>
        </div>

{% endblock %}