{% extends 'main.html' %}
{% load bootstrap %}

{% block title %}
    Film list
{% endblock %}

{% block website %}
    <div class="card" style="width: 32rem;">
        <div class="card-body">
            <h5 class="card-title">FILM FORM</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <br>
                <button class="btn btn-success" type="submit">APPLY <i class="fa-solid fa-right-to-bracket"></i></button>
                <button class="btn btn-danger" type="button" onclick="history.back();">BACK <i class="fa-solid fa-undo"></i></button>
            </form>
        </div>
    </div>
{% endblock %}
